/**
 * @file
 * Styles for the system status report counters.
 */

.system-status-report-counters__item {
  width: 100%;
  padding: 0.5em 0;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.063);
  margin-bottom: 0.5em;
}

@media screen and (min-width: 60em) {
  .system-status-report-counters {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  .system-status-report-counters__item--half-width {
    width: 49%;
  }
  .system-status-report-counters__item--third-width {
    width: 33%;
  }
}

/*
     FILE ARCHIVED ON 05:06:30 Nov 14, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:18:28 Nov 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.727
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 5.925
  LoadShardBlock: 93.359 (3)
  PetaboxLoader3.datanode: 107.378 (5)
  PetaboxLoader3.resolve: 68.544 (2)
  load_resource: 88.622 (2)
*/